<div class="banner" style="background-image:url('./assets/images/Rectangle 80.png');">
    <app-navbar></app-navbar>
</div>
<div class="main-summary">
    <div class="container">
        <section class="sectionmobile-styling">
            <div>
                <p>CLIENT <br>
                <strong class="client-name"> Danon - India</strong></p>
                <p>MY ROLE<br>
                    <strong> UX Design</strong>
            </div>
        </section>
        <section>
            <div>
                <p>SUMMARY</p>
                <p>
                <strong>Collabration with<br>
                      development team</strong>
                </p>
                <div class="website">
                    <span>
                        <a href="#">Check website - private</a>
                    </span>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="showcase">
    <img src="/assets/images/danonsteps.png"/>
</div>
<div class="ovni-display-phone" style="background-image:url('./assets/images/Group 400.png');">
</div>
<!-- nextproject -->
<div class="main-summary next-project">
    <div class="container problem-layout">
        <section>
            <div>
                <p>NEXT PROJECT <br><br>
                <strong style="cursor: pointer;" routerLink="/Valuer"> Valuer</strong></p>
            </div>
        </section>
    </div>
</div>

