<div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.82),rgba(0, 0, 0, 0.76)), url(https://images.unsplash.com/photo-1499159058454-75067059248a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2102&q=80;">
    <app-navlanding></app-navlanding>
    <div class="container">
      <!-- <fa-icon style="color:red;" [icon]="faCoffee"></fa-icon> -->
        <div>
            <p><strong>Email</strong></p>
            <p> hanaawad_92@hotmail.com </p>
        </div>
        <div>
            <p><strong>Phone</strong></p>
            <p> (+45) 93839046 </p>
        </div>
        <div>
            <p><strong>Socail Platforms</strong></p>
        </div>
        <div class="socail-platform">
            <a href="https://www.linkedin.com/in/hana-awad-96071b150/"><img class="first" src="/assets/images/linkedin.png"/></a>
            <a href="https://www.pinterest.com/hanaawad/_created/"><img src="/assets/images/pinterest.png"/></a>
            <a href="https://www.facebook.com/hana.awad.568"><img src="/assets/images/facebook.png"/></a>
        </div>
    </div>
</div>