<div class="banner" style="background-image:url('./assets/images/websitepic.jfif');">
    <app-navbar></app-navbar>
</div>
<div class="main-summary">
    <div class="container">
        <section class="sectionmobile-styling">
            <div>
                <p>CLIENT <br>
                <strong class="client-name">You are already here!</strong></p>
                <p>MY ROLE<br>
                    <strong> UX design and full implentation on Angular 8</strong>
            </div>
        </section>
        <section>
            <div>
                <p>SUMMARY</p>
                <p>
                   <strong>scroll down to understand the steps i went through :) </strong>
                </p>
                <div class="website">
                    <span>
                        <a href="https://hanaawad.com/">Check website</a>
                    </span>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- <div class="showcase">
    <img src="/assets/images/bomaecover.png"/>
</div> -->
<!-- <div class="ovni-display-phone" style="background-image:url('./assets/images/bomaecover.png');">
</div> -->
<div class="sampleone">
    <div class="container">
    <img src="/assets/images/mindmap.png"/>
    <ul class="numbered-list">
        <br><p>Mindmap & Requirments</p><br>
        Writing down all the requirments on a zoomed out level.
      </ul>
    </div>
</div>

<div class="sampletwo">
    <div class="container">
    <ul class="numbered-list">
        <br><p>WirframeH</p><br>
        Transform sketching to wireframe design.
      </ul>
      <img src="/assets/images/wireframe.png"/>
    </div>
</div>
<div class="sampleone">
    <div class="container">
    <img src="/assets/images/code.png"/>
    <ul class="numbered-list">
        <br><p>Code</p><br>
        Angular 8  web framework that helped me a lot  to maintain its code clean.
      </ul>
    </div>
</div>
<!-- nextproject -->
<div class="main-summary next-project">
    <div class="container problem-layout">
        <section>
            <div>
                <p>NEXT PROJECT <br><br>
                <strong style="cursor: pointer;" routerLink="/ArchitecturePortfolio"> Architecture Portfolio</strong></p>
            </div>
        </section>
    </div>
</div>

