<div class="banner grey" style="background-image:url('./assets/images/perf.jpg');">
    <app-navbar></app-navbar>
</div>
<div class="main-summary">
    <div class="container">
        <section class="sectionmobile-styling">
            <div>
                <p>CLIENT <br>
                <strong class="client-name">Email Performance Dashboard</strong></p>
                <p>MY ROLE<br>
                    <strong> UX/UI Design</strong>
            </div>
        </section>
        <section>
            <div>
                <p>SUMMARY</p>
                <p>
                <strong>The purpose of this dashboard <br> is to give the end user a simple<br> and straight forward dashboard<br> 
                    to see how email product is per-<br>forming  and what effect it has on<br> their total revenue and
                    conversion.
                </strong>
                </p>
            </div>
        </section>
    </div>
</div>
<div class="container-video">
    <img src="/assets/images/dashboard.gif"/>
</div>

<div class="main-summary problem-statment">
    <div class="container problem-layout">
        <section>
            <div>
                <p class="title-bold">INTRODUCTION<br><br>
                <strong>This dashboard shows the importance of email product and its
                     performance on campaigns over time. Also, will help in measuring engagement growth over time to avoid missing out on valuable insights and any significant changes alerts that marketing team should take an action towards. Data is visualized according to this diagram. Not to mention that, the most important data is placed at top left corner of the dashboard. 
                </strong></p>
            </div>
        </section>
    </div>
</div>

<!-- projectgoals -->
<div class="main-summary problem-statment project-goal">
    <div class="container problem-layout">
        <section>
            <div>
                <p class="title-bold">PROJECT GOALS <br><br></p>
            <ul class="numbered-list">
                <li>To give the customers an easy and simple view of how their Shop Email Product is performing.</li>
                <li>Provide important operational information and key performance indicators for the marketing team on cost per acquisition.</li>
                <li>Clean layout with simple visuals (graphs and charts) not busy colors to avoid making the user distracted from the data.</li>
                <li>Get an overall felling very quickly.</li>
                <li>Dive deep in details when needed</li>
            </ul>
            </div>

        </section>
    </div>
</div>
<!-- <div class="flow">
    <div class="container">
        <section>
            <div>
                <p  class="title-bold">High-level requirements<br><br></p>
            <ul class="numbered-list">
                Basic sticky notes requiremnts for main filter tabs in the designed app.
              </ul>
            </div>
        </section>
    </div>
    <div>
      <img src="/assets/images/mindmapovni.png"/>
    </div>
</div> -->



<div class="flow">
    <div class="container">
        <section>
            <div>
                <p  class="title-bold">Define User Personas<br><br></p>
            <ul class="numbered-list">
                Conducted phone interviews with two personas. Each interview took approximately 30-35 mins this helped to understand users' needs, experiences, behaviours and goals.
                It also helped to identify with the target user designing for.  
              </ul>
            </div>
        </section>
    </div>
    <div>
      <img src="/assets/images/Group 694.svg"/>
    </div>
</div>

<div class="insights">
    <div class="container">
        <section>
            <div>
                <p class="title-bold">RESEARCH INSIGHTS<br><br></p>
            <ul class="numbered-list">
                
                <li>Research in depth the importance of the email performance, its requirements and what are the important KPI for email marketing/sale. </li>
               <li>Creation of user personas to understand users’ needs and pain points.</li>
                <li>Market research analysis </li>
               <li>Prioritize what to show first based on user personas findings    </li>
                <li>Customer interviews </li>
                <li>Sketching</li>
                <li>Design on Figmap</li>
              </ul>
            </div>
        </section>
    </div>
    <div>
      <img src="/assets/images/layout.svg"/>
    </div>
</div>
<div class="sampleone">
    <div class="container">
    <img src="/assets/images/dashboardzoning.svg"/>
    <ul class="numbered-list">
        <br><p>DASHBOARD ZONING</p><br>
            Dividing dashboard into zones where viewers can relate to.
      </ul>

    </div>

</div>
<div class="sampleone">
    <div class="container">
    <ul class="numbered-list">
        <br><p>OVERALL INSIGHT</p><br>
        Get a glimpse of how your business is going quickly.
    </ul>
    
    <img src="/assets/images/Overallinsight.svg"/>
    
    </div>

</div>
<div class="sampleone">
    <div class="container">
    <img src="/assets/images/Campaignstats.svg"/>
    <ul class="numbered-list">
        <br><p>CAMPAIGN STATS</p><br>
            Get a glimpse of each campaign stats.
      </ul>

    </div>

</div>
<div class="sampleone">
    <div class="container">
    <ul class="numbered-list">
        <br><p>CAMPAIGN TRACKING</p><br>
            Insights of how the campaign is performing.
     </ul>
    <img src="/assets/images/Campaigntracking.svg"/>
    </div>

</div>

<div class="sampleone">
    <div class="container">
    <img src="/assets/images/Labeltracking.svg"/>
    <ul class="numbered-list">
        <br><p>LABEL TRACKING & SUB vs BOUNCE</p><br>
            Track users reaction to campaign.
      </ul>

    </div>

</div>
<div class="sampleone">
    <div class="container">
    <ul class="numbered-list">
        <br><p>USERS’ RESPONSES & DEMOGRAPHICS</p><br>
        Understand who and where your users are.
     </ul>
    <img src="/assets/images/demographics.svg"/>
    </div>

</div>

<div class="ovni-display-phone" style="background-image:url('./assets/images/dashboard.gif');">
</div>
<!-- nextproject -->
<div class="main-summary next-project">
    <div class="container problem-layout">
        <section>
            <div>
                <p>NEXT PROJECT <br><br>
                <strong style="cursor: pointer;" routerLink="/Ovni">Ovni</strong></p>
            </div>
        </section>
    </div>
</div>

