<div class="banner" style="background-image:url('./assets/images/perf.jpg');">
    <app-navbar></app-navbar>
</div>
<div class="main-summary">
    <div class="container">
        <section class="sectionmobile-styling">
            <div>
                <p>CLIENT <br>
                <strong class="client-name">Performance Dashboard</strong></p>
                <p>MY ROLE<br>
                    <strong> UX/UI Design</strong>
            </div>
        </section>
        <section>
            <div>
                <p>SUMMARY</p>
                <p>
                <strong>Collabration with the design<br>
                     and development team</strong>
                </p>
            </div>
        </section>
    </div>
</div>
<div class="container-video">
    <img src="/assets/images/dashboard.gif"/>
</div>

<div class="main-summary problem-statment">
    <div class="container problem-layout">
        <section>
            <div>
                <p class="title-bold">INTRODUCTION<br><br>
                <strong>This dashboard shows the importance of email product and its
                     performance on campaigns over time. Also, will help in measuring engagement growth over time to avoid missing out on valuable insights and any significant changes alerts that marketing team should take an action towards. Data is visualized according to this diagram. Not to mention that, the most important data is placed at top left corner of the dashboard – user experience research found. 
                </strong></p>
            </div>
        </section>
    </div>
</div>

<!-- projectgoals -->
<div class="main-summary problem-statment project-goal">
    <div class="container problem-layout">
        <section>
            <div>
                <p class="title-bold">PROJECT GOALS <br><br></p>
            <ul class="numbered-list">
                <li>To give the customers an easy and simple view of how their Shop Email Product is performing.</li>
                <li>Provide important operational information and key performance indicators for the marketing team on cost per acquisition.</li>
                <li>Clean layout with simple visuals (graphs and charts) not busy colors to avoid making the user distracted from the data.</li>
                <li>Get an overall felling very quickly.</li>
                <li>Dive deep in details when needed</li>
            </ul>
            </div>

        </section>
    </div>
</div>
<!-- <div class="flow">
    <div class="container">
        <section>
            <div>
                <p  class="title-bold">High-level requirements<br><br></p>
            <ul class="numbered-list">
                Basic sticky notes requiremnts for main filter tabs in the designed app.
              </ul>
            </div>
        </section>
    </div>
    <div>
      <img src="/assets/images/mindmapovni.png"/>
    </div>
</div> -->



<div class="flow">
    <div class="container">
        <section>
            <div>
                <p  class="title-bold">Define User Personas<br><br></p>
            <ul class="numbered-list">
                Conducted phone interviews with two personas. Each interview took approximately 30-35 mins this helped to understand users' needs, experiences, behaviours and goals.It helped to recognise that different people have different needs and expectations,
                 and it also helped to identify with the target user designing for.
              </ul>
            </div>
        </section>
    </div>
    <div>
      <img src="/assets/images/Group 694.svg"/>
    </div>
</div>
<div class="main-summary problem-statment project-goal">
    <div class="container">
        <section>
            <div>
                <p  class="title-bold">RESEARCH METHODS <br><br></p>
            <ul class="numbered-list">
                <!-- <fa-icon style="color:red;" [icon]="user"></fa-icon> -->
                <li>Market research analysis </li>
                <!-- <fa-icon style="color:red;" [icon]="mobile"></fa-icon> -->
                <li> Secondary research</li>
                <!-- <fa-icon style="color:red;" [icon]="persona"></fa-icon> -->
                <li>Customer interviews </li>
                <li> Focus group</li>

              </ul>
            </div>

        </section>
    </div>
</div>
<div class="insights">
    <div class="container">
        <section>
            <div>
                <p class="title-bold">GATHERING INSIGHTS<br><br></p>
            <ul class="numbered-list">
                After collecting the recordings from the user interviews, I conducted affinity mapping with
                 my teammate to synthesise the pains identified. We grouped these problems under common themes and features in the platforms.
              </ul>
            </div>
        </section>
    </div>
    <div>
      <img src="/assets/images/gathheringovni.png"/>
    </div>
</div>
<div class="sampleone">
    <div class="container">
    <img src="/assets/images/Group-24.png"/>
    <ul class="numbered-list">
        <br><p>EXPLORE</p><br>
       Allowing tarvelers to search for filterd or all wishes.
      </ul>

    </div>

</div>
<div class="sampleone">
    <div class="container">
    <ul class="numbered-list">
        <br><p>MAKE MONEY</p><br>
        Allowing Travelers to make trip to make some money while coming back to Egypt.
    </ul>
    
    <img src="/assets/images/Group-22.png"/>
    
    </div>

</div>
<div class="sampleone">
    <div class="container">
    <img src="/assets/images/Group-23.png"/>
    <ul class="numbered-list">
        <br><p>MAKE A WISH</p><br>
        Allowing buyers to make their own with a negotiated delivery fee.
      </ul>

    </div>

</div>
<div class="sampleone">
    <div class="container">
    <ul class="numbered-list">
        <br><p>PROFILE</p><br>
        Allowing customers to view their reviews, wishes, trips, wishes to deliver and orders.
     </ul>
    <img src="/assets/images/Group-21.png"/>
    </div>

</div>

<div class="ovni-display-phone" style="background-image:url('./assets/images/Group 400.png');">
</div>
<!-- nextproject -->
<div class="main-summary next-project">
    <div class="container problem-layout">
        <section>
            <div>
                <p>NEXT PROJECT <br><br>
                <strong style="cursor: pointer;" routerLink="/Ovni">Ovni</strong></p>
            </div>
        </section>
    </div>
</div>

