<div class="main-experience-container">
    <div class="experience">
        <div class="experience-two">
            <div class="projects">
            <!-- project 5 -->
                <div class="projects-container"  id="eight"routerLink="#">
                    <div class="test" > 
                        <div class="memorix">
                            <div class="banner soundboks" style="background-image: url('./assets/images/soundboks.jpg');">
                            </div>
                        </div>
                        <div class="container-details">
                            <p>
                                Coming Soon
                            </p>
                            <span>
                                Ux/Ui design
                            </span>
                        </div>
                    </div>
                </div>
                <!-- project 6 -->
                <div class="projects-container"  id="nine"  routerLink="/EmailPerformanceDashboard">
                    <div class="test" > 
                        <div class="memorix">
                            <div class="banner dashboard" style="background-image: url('./assets/images/perf.jpg');">
                            </div>
                        </div>
                        <div class="container-details">
                            <p>
                                Email Performance Dashboard
                            </p>
                            <span>
                                Ux/Ui design
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="projects">
              <!-- project 2 -->
              <div class="projects-container"  id="one"   routerLink="/Ovni">
                <div class="test" > 
                    <div class="memorix">
                        <div class="banner ovni" style="background-image: url('./assets/images/ovnicover.png');">
                        </div>
                    </div>
                    <div class="container-details">
                        <p>
                            Ovni
                        </p>
                        <span>
                            Ux/Ui design and frontend 
                        </span>
                    </div>
                </div>
            </div>
        <!-- project 1 -->
            <div class="projects-container"  id="two"  routerLink="/Memorix">
                <div class="test" > 
                    <div class="memorix">
                        <div class="banner memorix-height" style="background-image: url('./assets/images/DESKTOP.png');">
                        </div>
                    </div>
                    <div class="container-details">
                        <p>
                            Memorix
                        </p>
                        <span>
                            Ux design and frontend 
                        </span>
                    </div>
                </div>
            </div>
          
            <!-- project 3 -->
            <div class="projects-container" id="three" routerLink="/OBoutique" >
                <div class="test"> 
                    <div class="memorix">
                        <div class="banner oboutique" style="background-image: url('./assets/images/SSS.png');">
                        </div>
                    </div>
                    <div class="container-details">
                        <p>
                            O boutique
                        </p>
                        <span>
                            Ux design 
                        </span>
                    </div>
                </div>
            </div>
            <!-- project 4 -->
            <div class="projects-container"  id="four" routerLink="/Danon">
                <div class="test" > 
                    <div class="memorix">
                        <div class="banner danon" style="background-image: url('./assets/images/034.png');">
                        </div>
                    </div>
                    <div class="container-details">
                        <p>
                            Danon- India
                        </p>
                        <span>
                            KPI Dashboard
                        </span>
                    </div>
                </div>

            </div>
        
        </div>
        
    </div>
    <div class="experience-two">
        <div class="projects">
        <!-- project 5 -->
            <div class="projects-container"  id="five" routerLink="/Valuer">
                <div class="test" > 
                    <div class="memorix">
                        <div class="banner valuer" style="background-image: url('./assets/images/valuer-Mockup.png');">
                        </div>
                    </div>
                    <div class="container-details">
                        <p>
                            Valuer - Denmark
                        </p>
                        <span>
                            Magazine
                        </span>
                    </div>
                </div>
            </div>
            <!-- project 6 -->
            <div class="projects-container"  id="six" routerLink="/Tumble">
                <div class="test" > 
                    <div class="memorix">
                        <div class="banner tumble" style="background-image: url('./assets/images/tumble.png');">
                        </div>
                    </div>
                    <div class="container-details">
                        <p>
                            Tumble
                        </p>
                        <span>
                            Ux design and fullstack developemnt 
                        </span>
                    </div>
                </div>
            </div>
            <!-- project 7 -->
            <div class="projects-container" id="seven"routerLink="/Yacht">
                <div class="test"> 
                    <div class="memorix">
                        <div class="banner yacht" style="background-image: url('./assets/images/yachttablet.jpg');">
                        </div>
                    </div>
                    <div class="container-details">
                        <p>
                            Yacht Square
                        </p>
                        <span>
                            Ux design and fullstack developemnt 
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        
    </div>
    
    <div class="experience-two">
        <div class="projects">
        <!-- project 5 -->
            <div class="projects-container"  id="eight"routerLink="/Bomae">
                <div class="test" > 
                    <div class="memorix">
                        <div class="banner bomae" style="background-image: url('./assets/images/bomae (1).png');">
                        </div>
                    </div>
                    <div class="container-details">
                        <p>
                            Bomae
                        </p>
                        <span>
                            developing & designing a CRM system
                        </span>
                    </div>
                </div>
            </div>
            <!-- project 6 -->
            <div class="projects-container"  id="nine"  routerLink="/itshanaawad">
                <div class="test" > 
                    <div class="memorix">
                        <div class="banner website" style="background-image: url('./assets/images/mywebsite.jpg');">
                        </div>
                    </div>
                    <div class="container-details">
                        <p>
                            My Website
                        </p>
                        <span>
                            Ux design and fullstack developemnt 
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="experience-two">
        <div class="projects">
            <!-- project 6 -->
            <div class="projects-container"  id="ten" routerLink="/ArchitecturePortfolio">
                <div class="test" > 
                    <div class="memorix">
                        <div class="banner portfolio" style="background-image: url('./assets/images/architecture.jfif');">
                        </div>
                    </div>
                    <div class="container-details">
                        <p>
                            Architecture Portfolio
                        </p>
                        <span>
                            CAD drawings,Revit drawings,3d,sketching,and Renderings
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>