<div class="banner" style="background-image:url('./assets/images/memorixlanding.svg');">
    <app-navbar></app-navbar>
</div>
<div class="main-summary">
    <div class="container">
        <section class="sectionmobile-styling">
            <div>
                <p>CLIENT <br>
                <strong class="client-name"> Memorix - Denmark</strong></p>
                <p>MY ROLE<br>
                    <strong> UX Design
                    Frontend development</strong>
            </div>
        </section>
        <section>
            <div>
                <p>SUMMARY</p>
                <p>
                <strong>Collabration with the design<br>
                     and development team</strong>
                </p>
                <div class="website">
                    <span>
                        <a href="https://www.memorix.dk/">Check website</a>
                    </span>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="memorix-display" style="background-image:url('./assets/images/aaa.svg');">
</div>
<div class="main-summary problem-statment">
    <div class="container problem-layout">
        <section>
            <div>
                <p>PROBLEM STATEMENT <br><br>
                <strong> University students worldwide struggle with memorizing new information. 
                    70% of what they learn is forgotten within the first 24 hours. Students try 
                    to counter this with inefficient techniques.</strong></p>
            </div>
        </section>
    </div>
</div>

<!-- projectgoals -->
<div class="main-summary problem-statment project-goal">
    <div class="container problem-layout">
        <section>
            <div>
                <p>PROJECT GOALS <br><br></p>
            <ul class="numbered-list">
                <li> Redesign of current Memorix website to make it simpler for students </li>
                <li>  Provide to students  empower students digital tool to create personalized and efficient memory journeys that can be shared among their academic community and improve learning capabilities</li>
                <li> Improve learning capabilities for students</li>
                <li>Improve the user experience of memory technique</li>
                <li> Introduce mobile and tablet optimisation</li>
              </ul>
            </div>

        </section>
    </div>
</div>
<div class="flow">
    <div class="container">
        <section>
            <div>
                <p>DEFINING THE FLOW <br><br></p>
            <ul class="numbered-list">
                One of the first steps was to look at the current way the app was structured to make sure there aren't any problems in the flow. 
                Since this was an existing 
                app there wasn't too much room for change but we did decide to add an onboarding flow and tidy app simor minor interactions.
              </ul>
            </div>
        </section>
    </div>
    <div>
      <img src="/assets/images/memorixflow.png"/>
    </div>
</div>
<div class="main-summary problem-statment project-goal">
    <div class="container">
        <section>
            <div>
                <p>RESEARCH METHODS <br><br></p>
            <ul class="numbered-list">
                <!-- <fa-icon style="color:red;" [icon]="user"></fa-icon> -->
                <li>Customer interviews </li>
                <!-- <fa-icon style="color:red;" [icon]="mobile"></fa-icon> -->

                <li> Prototype testing</li>
                <!-- <fa-icon style="color:red;" [icon]="persona"></fa-icon> -->
                <li> Persona</li>
                <li>Customer journey</li>
              </ul>
            </div>

        </section>
    </div>
</div>
<div class="insights">
    <div class="container">
        <section>
            <div>
                <p>GATHERING INSIGHTS<br><br></p>
            <ul class="numbered-list">
                After collecting the recordings from the user interviews, I conducted affinity mapping with
                 my teammate to synthesise the pains identified. We grouped these problems under common themes and features in the platform.s.
              </ul>
            </div>
        </section>
    </div>
    <div>
      <img src="/assets/images/memorix features_1.png"/>
    </div>
</div>

<div class="sketching">
  
    <div class="container">
        <section>
            <div>
                <p>SKETCHING<br><br></p>
            <ul class="numbered-list">

                Sketching before wireframing allowed to try out a multitude of ideas and iterate them before settling on one and to come up with the best solution.
              </ul>
            </div>
        </section>
    </div>
    <div>
        <img src="/assets/images/sketching.png"/>
    </div>
   
</div>

<div class="wireframe">
    <div>
        <img src="/assets/images/memorixwirframe1.svg"/>
    </div>
    <div class="container">
        <section>
            <div>
                <p>WIREFRAMING<br><br></p>
            <ul class="numbered-list">
                After defining the flow the next step is to focus on space allocation and prioritization of content, functionalities available and 
                experience in more detail on a screen-by-screen level. The main focus was the Scheduler page planning which is the heart of the app.
              </ul>
            </div>
        </section>
    </div>
   
</div>


<div class="memorix-display-phone" style="background-image:url('./assets/images/Desktop - 1.png');">
</div>

<div class="memorix-display-phone" style="background-image:url('./assets/images/framememorix.png');">
</div>




<!-- nextproject -->
<div class="main-summary next-project">
    <div class="container problem-layout">
        <section>
            <div>
                <p>NEXT PROJECT <br><br>
                <strong style="cursor: pointer;" routerLink="/OBoutique"> O Boutique</strong></p>
            </div>
        </section>
    </div>
</div>

