<div class="banner" style="background-image:url('./assets/images/yachtlanding.png');">
    <app-navbar></app-navbar>
</div>
<div class="main-summary">
    <div class="container">
        <section class="sectionmobile-styling">
            <div>
                <p>CLIENT <br>
                <strong class="client-name"> Yacht Sqaure - Denmark</strong></p>
                <p>MY ROLE<br>
                    <strong> Fullstack developemnt on ruby on rails ,Ux design</strong>
            </div>
        </section>
        <section>
            <div>
                <p>SUMMARY</p>
                <p>
                <strong>Le Wagon<br>
                       bootcamp course pre-gradution project</strong>
                </p>
                <div class="website">
                    <span>
                        <a href="https://ahoycaptain.herokuapp.com/">Check website</a>
                    </span>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="showcase">
    <img src="/assets/images/yacht.jpg"/>
</div>
<div class="ovni-display-phone" style="background-image:url('./assets/images/yacht.jpg');">
</div>
<!-- nextproject -->
<div class="main-summary next-project">
    <div class="container problem-layout">
        <section>
            <div>
                <p>NEXT PROJECT <br><br>
                <strong style="cursor: pointer;" routerLink="/Bomae">Bomae</strong></p>
            </div>
        </section>
    </div>
</div>

