<div class="banner" style="background-image:url('./assets/images/bomae.jpg');">
    <app-navbar></app-navbar>
</div>
<div class="main-summary">
    <div class="container">
        <section class="sectionmobile-styling">
            <div>
                <p>CLIENT <br>
                <strong class="client-name"> Bomae - Denmark</strong></p>
                <p>MY ROLE<br>
                    <strong> Fullstack developemnt on ruby on rails ,Ux design of CRM system intern</strong>
            </div>
        </section>
        <section>
            <div>
                <p>SUMMARY</p>
                <p>
                   <strong> Collabration with development team</strong>
                </p>
                <div class="website">
                    <span>
                        <a href="https://www.bomae.dk/">Check website</a>
                    </span>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="showcase">
    <img src="/assets/images/bomaecover.png"/>
</div>
<div class="ovni-display-phone" style="background-image:url('./assets/images/bomaecover.png');">
</div>
<!-- nextproject -->
<div class="main-summary next-project">
    <div class="container problem-layout">
        <section>
            <div>
                <p>NEXT PROJECT <br><br>
                <strong style="cursor: pointer;" routerLink="/ArchitecturePortfolio"> Architecture Portfolio</strong></p>
            </div>
        </section>
    </div>
</div>

