<div class="main-experience-container">
    <div class="experience">
        <div class="projects">
        <!-- project 1 -->
            <div class="projects-container"  id="one">
                <div class="test" > 
                    <div class="memorix">
                        <video autoplay loop muted=1 loop muted webkit-playsinline playsinline>
                            <source src="/assets/images/lostincity.mp4" type="video/mp4">
                        </video>

                    </div>
                    <div class="container-details">
                        <p>
                            Lost in the City
                        </p>
                        <span>
                            Contemporary
                        </span>
                    </div>
                </div>
            </div>
            <!-- project 2 -->
            <div class="projects-container"  id="two">
                <div class="test" > 
                    <div class="memorix">
                        <video autoplay loop muted=1 loop muted webkit-playsinline playsinline>
                            <source src="/assets/images/fadedabstract.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="container-details">
                        <p>
                            Faded 
                        </p>
                        <span>
                            Abstract
                        </span>
                    </div>
                </div>
            </div>
            <!-- project 3 -->
            <div class="projects-container" id="three">
                <div class="test"> 
                    <div class="memorix">
                        <video autoplay loop muted=1 loop muted webkit-playsinline playsinline>
                            <source src="/assets/images/african.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="container-details">
                        <p>
                           Bumia
                        </p>
                        <span>
                            Modern African
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>