<div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.82),rgba(0, 0, 0, 0.76)), url(https://images.unsplash.com/photo-1568142604427-0b60498d2e0f?ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80);">
    <app-navbar></app-navbar>
  
    <div class="container">
      <!-- <fa-icon style="color:red;" [icon]="faCoffee"></fa-icon> -->
      <h1> I’m <strong>Hana Awad</strong> a passionate interface, experience designer, frontend developer and an architect <strong>from Alexandria, Egypt</strong> Living in <strong>Copenhagen, Denmark</strong></h1>
      <p>55.6750744"N 12.5708297"E </p>
      <!-- <a class="btn btn-flat" href="#">Apply now</a> -->
    </div>
  </div>
  
