<div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.82),rgba(0, 0, 0, 0.76)), url(https://images.unsplash.com/photo-1568142604427-0b60498d2e0f?ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80);">
    <app-navlanding></app-navlanding>
    <div class="container">
      <h1> I’m <strong>Hana Awad</strong> a passionate interface, UX designer with frontend developer experince and an ex-architect <strong>from Alexandria, Egypt</strong> Living in <strong>Copenhagen, Denmark</strong></h1>
      <p>55.6750744"N 12.5708297"E </p>
      <div class="object">
        <fa-icon  style="color:#957B5F;" [icon]="faCoffee"></fa-icon>
      </div>
    </div>
  </div>
  
