<div class="banner" style="background-image:url('./assets/images/valuerlanding.png');">
    <app-navbar></app-navbar>
</div>
<div class="main-summary">
    <div class="container">
        <section class="sectionmobile-styling">
            <div>
                <p>CLIENT <br>
                <strong class="client-name"> Valuer - Denmark</strong></p>
                <p>MY ROLE<br>
                    <strong> Designer</strong>
            </div>
        </section>
        <section>
            <div>
                <p>SUMMARY</p>
                <p>
                <strong>Collabration with<br>
                      Marketing team</strong>
                </p>
                <div class="website">
                    <span>
                        <a href="https://www.valuer.ai/">Check website</a>
                    </span>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="showcase">
    <img src="/assets/images/valuerebook.png"/>
</div>
<div class="ovni-display-phone" style="background-image:url('./assets/images/Group 400.png');">
</div>
<!-- nextproject -->
<div class="main-summary next-project">
    <div class="container problem-layout">
        <section>
            <div>
                <p>NEXT PROJECT <br><br>
                <strong style="cursor: pointer;" routerLink="/Tumble"> Tumble</strong></p>
            </div>
        </section>
    </div>
</div>