<div class="banner" style="background-image:url('./assets/images/sb1.jpg');">
    <app-navbar></app-navbar>
</div>
<div class="main-summary">
    <div class="container">
        <section class="sectionmobile-styling">
            <div>
                <p>CLIENT <br>
                <strong class="client-name">SOUNDBOKS - Denmark</strong></p>
                <p>MY ROLE<br>
                    <strong>Senior UX design lead</strong>
            </div>
        </section>
        <section>
            <div>
                <p>SUMMARY</p>
                <p>
                <strong>Spearhead the user experience strategy</strong>
                </p>
                <div class="website">
                    <span>
                        <a href="https://soundboks.com/en-dk/app">Check website</a>
                    </span>
                </div>
                <div class="website">
                    <span>
                        <a href="https://apps.apple.com/us/app/soundboks/id1440156667">App store</a>
                    </span>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- <div class="container-video"> -->
    <!-- <img src="/assets/images/sb1.gif"/>
    <img src="/assets/images/sb2.gif"/> -->

    <!-- <video autoplay loop>
        <source src="/assets/images/test1.mp4" type="video/mp4">
    </video>
    <video autoplay loop>
        <source src="/assets/images/test2.mp4" type="video/mp4">
    </video>
    <video autoplay loop>
        <source src="/assets/images/test3.mp4" type="video/mp4">
    </video>
    <video autoplay loop>
        <source src="/assets/images/test4.mp4" type="video/mp4">
    </video> -->
<!-- </div> -->
<div class="main-summary problem-statment">
    <div class="container problem-layout">
        <section>
            <div>
                <p class="title-bold">Why we redesigned the app? <br><br>
                <strong> 
                    Users encountered difficulties navigating the app, accessing its features smoothly, and interacting seamlessly within the Soundboks ecosystem. These challenges highlighted a pressing need to address UX issues to enhance user satisfaction, improve usability, and position Soundboks as an industry leader.
                    We redesigned the app to ensure scalability and compatibility with other product categories, providing a more seamless and integrated user experience across our entire product range.
                </strong></p>
            </div>
        </section>
    </div>
</div>

<!-- projectgoals -->
<div class="main-summary problem-statment project-goal">
    <div class="container problem-layout">
        <section>
            <div>
                <p class="title-bold">PROJECT GOALS <br><br></p>
            <ul class="numbered-list">
                <li> Enhance User Experience: Revamp the app to improve user-friendliness and ensure seamless navigation and interaction for users of all levels. </li>
                <li> Achieve Scalability: Develop the app infrastructure to support the integration of new product categories, enabling seamless expansion of offerings within the Soundboks ecosystem. </li>
                <li> Drive Engagement and Retention: Create an engaging and rewarding user experience that encourages increased app usage and fosters long-term customer loyalty and retention.</li>
                <li>Strengthen Brand Identity: Ensure consistency in branding elements and messaging throughout the app to reinforce Soundboks' identity as a trusted and innovative leader in the industry.</li>
              </ul>
            </div>

        </section>
    </div>
</div>
<div class="flow">
    <div class="container">
        <section>
            <div>
                <p  class="title-bold">UX Process<br><br></p>
            <ul class="numbered-list">
                A brief overview of the UX process we followed during the app redesign
              </ul>
            </div>
        </section>
    </div>
    <div>
      <img src="/assets/images/ux process.png"/>
    </div>
</div>

<div class="main-summary problem-statment project-goal">
    <div class="container">
        <section>
            <div>
                <p  class="title-bold">RESEARCH METHODS <br><br></p>
            <ul class="numbered-list">
                <!-- <fa-icon style="color:red;" [icon]="user"></fa-icon> -->
                <li>Customer interviews </li>
                <li>Market research analysis </li>
                <!-- <fa-icon style="color:red;" [icon]="mobile"></fa-icon> -->

                <li> Prototype testing</li>
                <!-- <fa-icon style="color:red;" [icon]="persona"></fa-icon> -->
                <li> Persona</li>
                <li>Customer journey</li>
                <li>Information Architecture</li>
              </ul>
            </div>

        </section>
    </div>
</div>

<div class="flow">
    <div class="container">
        <section>
            <div>
                <p  class="title-bold">Project Background​<br><br></p>
            <ul class="numbered-list">
                The main goal at this phase is the  challenge of integrating  
                the new product category and uncover customer pain points in the current app.​
              </ul>
            </div>
        </section>
    </div>
    <div>
      <img src="/assets/images/3333.png"/>
    </div>
</div>
<div class="insights">
    <div class="container">
        <section>
            <div>
                <p class="title-bold">GATHERING INSIGHTS<br><br></p>
            <ul class="numbered-list">
                After collecting the recordings from the user interviews, I conducted affinity mapping with
                 my teammate to synthesise the pains identified. We grouped these problems under common themes and features in the platforms.
              </ul>
            </div>
        </section>
    </div>
    <div>
      <img src="/assets/images/2222.png"/>
    </div>
</div>

<div class="banner" style="background-image:url('./assets/images/fd.png');">
</div>

<div class="sampleone">
    <div class="container">
    <img src="/assets/images/KeyFeature_TeamUp.png"/>
    <ul class="numbered-list">
        <br><p>TEAMUP</p><br>
        Link and control multiple SOUNDBOKS from one phone for simple stereo sound.     
          </ul>

    </div>

</div>
<div class="sampleone">
    <div class="container">
    <ul class="numbered-list">
        <br><p>SOUND PROFILES</p><br>
        Choose between pre-built profiles to find the right sound for any situation.   
     </ul>
    
    <img src="/assets/images/KeyFeature_SoundProfiles.png"/>
    
    </div>

</div>
<div class="sampleone">
    <div class="container">
    <img src="/assets/images/KeyFeature_CustomEQ.png"/>
    <ul class="numbered-list">
        <br><p>CUSTOM EQ</p><br>
        Tune the bass, mids, and trebles to create the perfect soundscape for your music.     
     </ul>

    </div>

</div>




<div class="sampleone">
    <div class="container">
    <ul class="numbered-list">
        <br><p>PRO PANEL</p><br>
        Use the Pro Panel to balance the sound of your DJ mixer, instruments, and microphones for your performance.
     </ul>
    <img src="/assets/images/KeyFeature_ProPanel.png"/>
    </div>

</div>


<!-- nextproject -->
<div class="main-summary next-project">
    <div class="container problem-layout">
        <section>
            <div>
                <p>NEXT PROJECT <br><br>
                <strong style="cursor: pointer;" routerLink="/EmailPerformanceDashboard"> Email Performance Dashboard  </strong></p>
            </div>
        </section>
    </div>
</div>

