<div class="banner" style="background-image:url('./assets/images/ovnilanding.svg');">
    <app-navbar></app-navbar>
</div>
<!-- <app-contactme></app-contactme> -->
<!-- <object data="/assets/images/hanaresume.pdf" 
type="application/pdf" 
style="height:calc(100vh - 70px)"
width="100%">
</object> -->
<div>
    <div>
            <div class="showcase">
                <img src="/assets/images/cv/Slide1.jpg"/>
            </div>
    </div>
    <div>
        <div class="showcase">
            <img src="/assets/images/cv/Slide2.JPG"/>
        </div>
    </div>
    <div>
        <div class="showcase">
            <img src="/assets/images/cv/Slide3.JPG"/>
        </div>
    </div>
    <div>
        <div class="showcase">
            <img src="/assets/images/cv/Slide4.JPG"/>
        </div>
    </div>
    <div>
        <div class="showcase">
            <img src="/assets/images/cv/Slide5.JPG"/>
        </div>
    </div>
    <div>
        <div class="showcase">
            <img src="/assets/images/cv/Slide6.JPG"/>
        </div>
    </div> <div>
        <div class="showcase">
            <img src="/assets/images/cv/Slide7.JPG"/>
        </div>
    </div>
    <div>
        <div class="showcase">
            <img src="/assets/images/cv/Slide8.JPG"/>
        </div>
    </div>
    <div>
        <div class="showcase">
            <img src="/assets/images/cv/Slide9.JPG"/>
        </div>
    </div>
    <div>
        <div class="showcase">
            <img src="/assets/images/cv/Slide10.JPG"/>
        </div>
    </div>
</div>