<div class="banner" style="background-image:url('./assets/images/ovnilanding.svg');">
    <app-navbar></app-navbar>
</div>
<div class="main-summary">
    <div class="container">
        <section class="sectionmobile-styling">
            <div>
                <p>CLIENT <br>
                <strong class="client-name">Ovni - Egypt</strong></p>
                <p>MY ROLE<br>
                    <strong> UX Design
                    Frontend development</strong>
            </div>
        </section>
        <section>
            <div>
                <p>SUMMARY</p>
                <p>
                <strong>Collabration with the design<br>
                     and development team</strong>
                </p>
                <div class="website">
                    <span>
                        <a href="https://www.ovni.io/">Check website</a>
                    </span>
                </div>
                <div class="website">
                    <span>
                        <a href="https://www.ovni.io/">App Download-under construction</a>
                    </span>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="container-video">
    <video autoplay loop>
        <source src="/assets/images/test1.mp4" type="video/mp4">
    </video>
    <video autoplay loop>
        <source src="/assets/images/test2.mp4" type="video/mp4">
    </video>
    <video autoplay loop>
        <source src="/assets/images/test3.mp4" type="video/mp4">
    </video>
    <video autoplay loop>
        <source src="/assets/images/test4.mp4" type="video/mp4">
    </video>
</div>
<div class="main-summary problem-statment">
    <div class="container problem-layout">
        <section>
            <div>
                <p class="title-bold">PROBLEM STATEMENT <br><br>
                <strong> Ovni is a platform that connects buyers with travelers 
                    Where buyers make a wish and add all the details of the product and travelers will contact them to get the product for a delivery fee
                    It’s a win win solution</strong></p>
            </div>
        </section>
    </div>
</div>

<!-- projectgoals -->
<div class="main-summary problem-statment project-goal">
    <div class="container problem-layout">
        <section>
            <div>
                <p class="title-bold">PROJECT GOALS <br><br></p>
            <ul class="numbered-list">
                <li> Developing MVP to serve as a proof of concept </li>
                <li> Acquire as much as possible buyers and travelers </li>
                <li> Devleoping easy to use  interface as it is a brand new concept in Egypt</li>
                <li>Website to be designed friendly as the app is on its way to be published in the app store</li>
                <li> Introduce mobile and tablet optimisation</li>
                <li>After finishing the proof of concept, gathering as much as posble information from both travelers and buyers to highlight the pain points to avoid it while designing mobile app </li>
              </ul>
            </div>

        </section>
    </div>
</div>
<div class="flow">
    <div class="container">
        <section>
            <div>
                <p  class="title-bold">Zoomed out requirments<br><br></p>
            <ul class="numbered-list">
                Basic sticky notes requiremnts for main filter tabs in the designed app.
              </ul>
            </div>
        </section>
    </div>
    <div>
      <img src="/assets/images/mindmapovni.png"/>
    </div>
</div>

<div class="main-summary problem-statment project-goal">
    <div class="container">
        <section>
            <div>
                <p  class="title-bold">RESEARCH METHODS <br><br></p>
            <ul class="numbered-list">
                <!-- <fa-icon style="color:red;" [icon]="user"></fa-icon> -->
                <li>Customer interviews </li>
                <li>Market research analysis </li>
                <!-- <fa-icon style="color:red;" [icon]="mobile"></fa-icon> -->

                <li> Prototype testing</li>
                <!-- <fa-icon style="color:red;" [icon]="persona"></fa-icon> -->
                <li> Persona</li>
                <li>Customer journey</li>
                <li>Information Architecture</li>
              </ul>
            </div>

        </section>
    </div>
</div>

<div class="flow">
    <div class="container">
        <section>
            <div>
                <p  class="title-bold">Define User Personas<br><br></p>
            <ul class="numbered-list">
                Creating personas helped to understand users' needs, experiences, behaviours and goals.It helped to recognise that different people have different needs and expectations,
                 and it also helped to identify with the target user designing for.
              </ul>
            </div>
        </section>
    </div>
    <div>
      <img src="/assets/images/ovniperona.jpg"/>
    </div>
</div>
<div class="insights">
    <div class="container">
        <section>
            <div>
                <p class="title-bold">GATHERING INSIGHTS<br><br></p>
            <ul class="numbered-list">
                After collecting the recordings from the user interviews, I conducted affinity mapping with
                 my teammate to synthesise the pains identified. We grouped these problems under common themes and features in the platform.s.
              </ul>
            </div>
        </section>
    </div>
    <div>
      <img src="/assets/images/gathheringovni.png"/>
    </div>
</div>
<div class="sampleone">
    <div class="container">
    <img src="/assets/images/Group 24.png"/>
    <ul class="numbered-list">
        <br><p>EXPLORE</p><br>
       Allowing tarvelers to search for filterd or all wishes.
      </ul>

    </div>

</div>
<div class="sampleone">
    <div class="container">
    <ul class="numbered-list">
        <br><p>MAKE MONEY</p><br>
        Allowing Travelers to make trip to make some money while coming back to Egypt.
    </ul>
    
    <img src="/assets/images/Group 22.png"/>
    
    </div>

</div>
<div class="sampleone">
    <div class="container">
    <img src="/assets/images/Group 23.png"/>
    <ul class="numbered-list">
        <br><p>MAKE A WISH</p><br>
        Allowing buyers to make their own with a negotiated delivery fee.
      </ul>

    </div>

</div>
<div class="sampleone">
    <div class="container">
    <ul class="numbered-list">
        <br><p>PROFILE</p><br>
        Allowing customers to view their reviews, wishes, trips, wishes to deliver andorders.
     </ul>
    <img src="/assets/images/Group 21.png"/>
    </div>

</div>

<div class="ovni-display-phone" style="background-image:url('./assets/images/Group 400.png');">
</div>
<!-- nextproject -->
<div class="main-summary next-project">
    <div class="container problem-layout">
        <section>
            <div>
                <p>NEXT PROJECT <br><br>
                <strong style="cursor: pointer;" routerLink="/Memorix"> Memorix</strong></p>
            </div>
        </section>
    </div>
</div>

