/* You can add global styles to this file, and also import other style files */
p{
    font-family: 'Lato';
}

h1{
    font-family: 'Lato';
}
h2{
    font-family: 'Lato';
}
h3{
    font-family: 'Lato';
}
h4{
    font-family: 'Lato';
}
span{
    font-family: 'Lato';
}